@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.container {
    max-width: 1280px;
    margin: 0 auto;

}
a {
    text-decoration: none;
    
}
.header-menu {
    color: black;
    font-size: 80px;
    font-family: Roboto;
    margin-top: 61px;
    margin-bottom: 61px;
    display: inline-block;
}

.item2 {
    color: black;
}

.header-menu_mdaJS {
    color: blue
}
/*.nav-menu {
    background-color: #35444f;
    
}*/

.nav-menu-title {
    display: flex;
    justify-content: center;
    height: 72px;
    background-color: #35444f;
    padding: 0px;
    margin-top: 38px;
}
.nav-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    border-left: 1px solid #FFFFFF;
}
.nav-menu-item1 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #FFFFFF;
}
.nav-menu-item:hover {
    background-color: #222f3a;
    cursor: pointer;
}
/*main*/
.content {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: flex-start;
}
.nav-menu-content {
    width: 344px;
    border: 1px solid #000000;
    padding-left: 0px;
    margin-top: 0px;
    overflow: hidden;
}
.nav-menu-content-item {
    width: 344px;
    height: 81px;
    display: flex;
    align-items: center;
}
.nav-menu-item3 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    margin-left: 44px;
    color: #485863;
    text-decoration: none;
}
.nav-menu-item3:hover {
    transform: translate(30px);
    transition: transform 0.5s;
    color: green;
}
.main-content-img {
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-images {
    width: 320px;
    height: 381px;
}
img:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
    cursor: pointer;
}

.main-description {
    width: 885px;
    height: 120px;
    margin-top: 37px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    position: relative;
    left: 396px;
}

/*footer*/
.nav-footer {
    display: flex;
    justify-content: space-around;
    height: 69px;
    margin-top: 54px;
    margin-bottom: 0px;
    background-color: #63696E;
    
}

.footer-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69px;
    width: 928px;
    
}

.footer-block-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 69px;
    
}

.footer-item {
    display: flex;
    font-family: Roboto;
    font-size: 28px;
    line-height: 28px;
    text-decoration: none;
    margin-left: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #0C1927;
    
}

.footer-Copyright {
    display: flex;
    align-items: center;
    color: #010101;
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    
}

.footer-item:hover {
    color: #3181A6;
    text-decoration: underline;
    cursor: pointer;
}