@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
a {
    text-decoration: none;
    color: #ff0000;
    font-family: "Montserrat", sans-serif;
}
.header-menu {
    text-align: center;
    width: 1280px;
    vertical-align: middle;
}

.header-menu li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin: 36px;
}
.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.background {
    height: 789px;
    background: url(../img/telefon.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.section {
    text-align: center;
    margin: 0 auto;
    }

.title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 48px;
    padding-bottom: 24px;
    font-family: "Montserrat", sans-serif;
}

.sub-title {
    padding: 14px 67px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;  
}

.button {
    border-radius: 10px;
    width: 191px;
    height: 51px;
    background-color: #ff0000;
    border: none;
    outline: none;
    color: #ffffff;
    text-transform: uppercase;
    margin: 18px 43px;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(1, 216, 1);
    color: rgb(0, 0, 255);
    border-radius: 10px;
}
.title-foot {
    padding-top: 40px;
    margin-right: 105px;
    margin-bottom: 29px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: right;
    font-size: 16px;
}